/* Approach - Mobile First Styling - Media Queries for Larger Screens */

/*Normalization - remove browser padding and margins, set box-sizing*/
* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* **************************** 
Default Styles - Document Level
**************************** */

body {
	background-color: #E7E7E7;
	font-family: 'Roboto', sans-serif;
	color: #333333;
	/*For basic page layout*/
	min-height: 100vh;
	display: flex;
	flex-direction: column; 
	/**/
}

body footer {
	padding: 10px 30px;
}

a:hover {
	opacity: 75%;
}

/* a:focus {
	outline: transparent;
	border: 1px solid #0077ff;
	border-radius: 5px;
	box-shadow: 0 0 3px 2px rgba(17, 21, 228, 0.5);
} */

button {
	color: #333333;
	background-color: #ffffff;
}

a {
	color: #fbd94a;
}

/* ********* 
Header Styles
********** */
header {
	background-color: #fbd94a;
}

/* Nav First/Left Styles */
.nav-first {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.brand {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 20px;
}

.brand-image {
	max-height: 50px;
	margin-right: 10px;
}

.brand-name {
	font-size: 1.5rem;
}

.btn-menu {
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

.btn-menu-label {
	text-transform: uppercase;
	font-size: 1rem;
}

.menu-icon {
	height: 20px;
	width: 20px;
	background-image: url('assets/menu.png');
	background-size: cover;
	margin-left: 5px;
	-webkit-transition: background-image 0.5s ease-out;
  	transition: background-image 0.5s ease-out;
}

.btn-menu.open .menu-icon {
	background-image: url('assets/cancel.png');
}

/* Navigation Menu */
.nav-link-container {
	background-color: #333;
	color: white;
}

ul.nav-link-container {
	list-style-type: none;
}

.nav-link {
	font-size: 1.2rem;
	text-align: center;
	border-bottom: 1px solid rgba(251, 217, 74, 0.7);
	padding: 1rem 0.5rem;
}

.nav-link a{
	text-decoration: none;
	width: 100%;
	display: block;
}

.nav-menu {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}

.nav-menu.open {
	max-height: 500px;
}


/* **************** 
Main Content Styles
***************** */
.main-content {
	flex: 1; /*Allows main content to expand to occupy all remaining free space after considering header/footer*/
}

/* Banner Styles */
.banner {
	background-image: url('assets/douglas-gausi-ugRGcO4VFMw-unsplash.jpg');
	background-position: center;
	background-size: cover;
	min-height: 500px;
	display: flex;
	flex-direction: column;
}

.tagline-container {
	flex: 1; /*Allow tagline container to occupy all the free space of banner after considering credit txt*/
	display: flex;
	align-items: center;
}

.tagline {
	padding: 30px;
	background-color: rgb(0,0,0,0.4);
	font-size: 2rem;
	color: #f7f7f7;
	font-weight: 400;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 0.125rem;
}

.credit {
	align-self: flex-end; /*for right side alignment within the banner*/
	background-color: rgb(0,0,0,0.4);
	color: #f7f7f7;
	padding: 5px 20px;
}

/* Results Grid */
#results-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
	padding: 30px 30px;
}

#results-grid.loading, #results-grid.error {
	display: block;
}

.result-card {
	background-color: #ffffff;
	border-radius: 5%;
	overflow: hidden;
	box-shadow:  0 3px 8px rgba(0,0,0,0.25);
	cursor: zoom-in;
}

.result-image {
	width: 100%;
	height: 240px;
	object-fit: cover;
}

.result-title {
	padding: 10px;
	margin-bottom: 10px;
	font-size: 1.25rem;
}

/* Loader */
.loader {
	border: 8px solid #333333;
	border-left: 8px solid #fad400;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

/* Error Message */
.error-message {
	text-align: center;
}

/* Paging Bar */
.paging-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* border-top: 1px solid black; */
	border-bottom:  2px solid #333333;
	margin: 0 30px;
	padding: 10px 0;
}

#page-nav {
	margin-bottom: 10px;
}

/* Paging buttons */
#page-nav button {
	appearance: none;
	padding: 8px 10px;
	margin-right: 5px;
	border: 1px solid #333333;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

#page-nav button:hover {
	background-color: #9cda45;
	color: #333333;
	transform: scale(1.05);
}

#page-nav button:focus {
	outline: transparent;
    border: 1px solid #FBD94A;
	box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
	transform: scale(1.05);
}

#page-nav button:disabled{
	opacity: 60%;
	pointer-events: none;
	transform: none;
}

#page-nav button.selected:disabled{
	background-color: #FBD94A;
	color: #333333;
	opacity: 1;
}

#btn-next-page{
	color: #f7f7f7;
	background-color: #333333;
}


/* Page Size Selector */
select#page-size-selector {
	appearance: none;
	padding: 8px;
	border-radius: 5px;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
	transition: all 0.2s ease-in-out;
}

select#page-size-selector:hover {
	background-color: #9cda45;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #9cda45 0%,#b6fd53 100%);
	transform: scale(1.05);
}

select#page-size-selector:focus {
	outline: transparent;
    border: 1px solid #FBD94A;
	box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
	transform: scale(1.05);
}

.hidden {
	visibility: hidden;
}

/*********** 
Modal Styles
************/
body.modal-open{
	overflow-y: hidden;
	padding-right: 15px; /* Avoid width reflow */
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(20,20,20, 0.9);
	width: 100%;
	height: 100vh;
}

.modal.hidden{
	display: none;
}

.modal-wrapper{
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
}

.close {
	font-size: 2rem;
	font-style: bold;
	color: white;
	padding: 0 10px;
	background-color: orange;
	cursor: pointer;
	float: right;
	width: fit-content;
	align-self: flex-end;
}

.modal-contents {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.full-image {
	max-height: 80vh;
	max-width: 100%;
}

.image-caption {
	background-color: white;
	padding: 10px;
	text-align: center;
}

/* ********* 
Footer Styles
********** */
footer {
	background-color: black;
	color: white;
}

/* *********** 
 Media Queries 
 *************/
@media (min-width: 769px) {
	header {
		display: flex;
		justify-content: space-between;
		padding: 10px 30px;
	}

	.nav-first {
		width: fit-content;
	}

	.brand {
		padding: 0;
	}

	.btn-menu {
		display: none;
	}

	.nav-menu {
		max-height: none;
	}

	.nav-link-container {
		background-color: inherit;
		color: inherit;
		display: flex;
		align-items: center;
		height: 100%;
	}

	.nav-link {
		margin-left: 20px;
		border: none;
	}

	.nav-link a{
		color: #333;
	}

	.paging-bar {
		justify-content: space-between;
		padding: 10px;
	}

	#page-nav {
		margin-bottom: 0;
	}

	.full-image {
		max-height: 70vh;
		max-width: 100%;
	}
}